/* styles.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #08292d;
  color: #00eeff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 500px;
  padding: 20px;
  background-color: #016666;
  border-radius: 10px;
  /* box-shadow: 0 5px 15px rgba(0, 144, 155, 0.744); */
  border: 1.5px solid rgb(0, 214, 243);
}

h1,
h2,
h3 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input[type="text"],
input[type="number"] {
  width: 45%;
  padding: 10px;
  background-color: #333333;
  border: none;
  border-radius: 5px;
  color: #fff;
  outline: none;
  margin: 3px;
}

.submit-btn {
  width: 27%;
  padding: 1px 10px;
}

button {
  padding: 5px 10px;
  background-color: #00eeff;
  border: none;
  border-radius: 5px;
  color: #013d42;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #004951;
  color: #00eeff;
  border: 1.5px solid rgb(0, 214, 243);
}

#expense-list {
  list-style-type: none;
  padding: 0;
}

#expense-list li {
  background-color: #333333;
  padding: 5px 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

#total {
  text-align: right;
}

.hidden {
  display: none;
}